<!--
<router-outlet></router-outlet>
-->

<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="communication">Communication</a></li>
  <li><a routerLink="data-binding">Data binding</a></li>
  <li><a routerLink="form">Formular</a></li>
  <li><a routerLink="generic">Generic</a></li>
</ul>

<div class="content"><router-outlet></router-outlet>
</div>

<!--<div class="content"
     [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>-->

<div *ngIf="entreprise">
  <h1>Entreprise</h1>
  <label>id: {{entreprise.id}}</label>
  <label>nom: {{entreprise.nom}}</label>
</div>
