/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: cadetblue;
  padding: 3em;
  font-family: 'Raleway', 'Arial';
}
.life-container {
  background: cornflowerblue;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
}

.col {
  padding: .4em 1.3em;
}

.container {
  display: grid;
  grid-template-columns: 50% auto;
}

.color-dark {
  background-color: dodgerblue;
}
