<button routerLink="data-binding">Data binding</button>
<button routerLink="form">Formular</button>
<button routerLink="communication">Communication</button>


<h1>Mon premier component</h1>

<div [ngStyle]="{color: 'red'}">Learn Angular 4.0</div>

<app-child></app-child>

<app-cadre>un contenu dans mon cadre</app-cadre>


<h3>Test de la directive Hightlight</h3>

<div [appHighlight]="'green'">Text en Highlight</div>

<div [appHighlight]="'green'">
  <button>Directive</button>
</div>

<h1>DATA BINDING</h1>
<app-data-binding></app-data-binding>

<h1>Angular material</h1>

<h3>Basic Buttons</h3>
<div class="button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

