<h2>Pipe Component</h2>

<p>date non transformée: {{date}}</p>
<p>date transformée: {{date | date}}</p>
<p>date transformée en français: {{date | date: 'd/MM/y'}}</p>

<p>Transformation en majuscule: {{date | date: 'd/MM/y' | uppercase}}</p>

<hr>

<h3>Les pipes proposés par angular </h3>


<mat-list role="list">x
  <mat-list-item role="listitem"><h3>DatePipe</h3>: Pour formater une date</mat-list-item>
  <mat-list-item role="listitem"><h3>UpperCasePipe: </h3>Pour mettre une chaine de caractère en majuscule</mat-list-item>
  <mat-list-item role="listitem"><h3>LowerCasePipe: </h3>Pour mettre une de caractère en minuscule</mat-list-item>
  <mat-list-item role="listitem"><h3>CurrencyPipe: </h3>Formate une monnaie</mat-list-item>
  <mat-list-item role="listitem"><h3>SlicePipe: </h3>Produit une sous séquence d'une liste ou d'une chaîne de caractère</mat-list-item>
  <mat-list-item role="listitem"><h3>DecimalPipe: </h3>Formate des nombres décimaux</mat-list-item>
  <mat-list-item role="listitem"><h3>PercentagePipe: </h3>Formate un nombre comme pourcentage</mat-list-item>
  <mat-list-item role="listitem"><h3>I18nPluralPipe: </h3>Gère l'affichage des singuliers/pluriels</mat-list-item>
  <mat-list-item role="listitem"><h3>JsonPipe: </h3>Aide au debuggage en application JSON.stringify à un objet</mat-list-item>
  <mat-list-item role="listitem"><h3>TitleCasePipe: </h3>Permet de mettre la prémière lettre d'une chaine de caractère en majuscule, puis le reste en minuscule</mat-list-item>
</mat-list>

